
* {
	margin: 0;
}
html, body {
	height: 100%;
}

#container {
    position: absolute;
	width: 70%;
	top:0px;
	left:0px;
	min-height: 100%;
    height: auto !important;
    height: 100%;


}

#header {
	float: top;
	width: 100%;
	padding: 5px;	
}

#search {
	position:relative;
	padding-left: 49px;
	height: 40px;
}

#result {
	position:relative;
	padding-left: 100px;
	height: 100%;
}

#footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
    margin-left : 20px;

}

