
body {
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman;
	font-size: 12px;
}

#container {
	background: #FFFFFF;
}

#header {
	background: #FFFFFF;
}

#search {
	font-family: Georgia, Arial, Times New Roman;
	font-size: 14px;
	color: lightgrey;
	background: #FFFFFF;
}

#result {
    font-family: Georgia, Arial, Times New Roman;
	font-size: 14px;
	color: grey;
	background: #FFFFFF;
}

#footer {
	font-family: Georgia, Arial, Times New Roman;
	font-size: 14px;
	color: lightgrey;
	background: #FFFFFF;
}

#searchfield {
	font-family: Georgia, Arial, Times New Roman;
	font-size: 14px;
	color: 	lightgrey;
	background: #FFFFFF;
}
